* {
    margin: 0;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.head {
    height: 100px;
    background-color: rgb(139, 204, 179);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-black {
    height: 100px;
    width: auto;
    float: left;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 21px;
    margin: 10px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: #f7c852;
    transform: scale(1.1);

}
nav ul li a:hover{
    transition: all 500ms;
    background-color: #f3b414;
    color: white;
}

.search {
    width: 534px;
    height: 40px;
    font-size: 20px;
}
 .h_form button{
    background-color: orange;
    height: 40px;
    cursor: pointer;
    float: right;
    width: 35px;
}
.h_form button::after{
    clear: both;
}


navbar {
    width: 100%;
    position: sticky;
    top: 0;
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background-color: #78d6cb;
    z-index: 99;
}

links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

links ul a {
    text-decoration: none;
    padding: 10px 8px;
    font-size: 25px;
}

.search {
    width: 534px;
    height: 40px;
    font-size: 20px;
}

.searchIcon {
    background-color: orange;
    height: 40px;
    cursor: pointer;
    float: right;
    width: 35px;
}

.searchIcon::after {
    clear: both;
}
